<!-- Top navbar which is displayed on all pages -->

<nav class="navbar navbar-expand-md bg-primary navbar-light">
    <a class="navbar-brand oi oi-home" href="https://localhost:44319/home"> Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="mx-1 nav-item">
                <a class="nav-link" href="https://localhost:44319/depositwithdraw">Deposit/Withdraw</a>
            </li>
            <li class="mx-1 nav-item">
                <a class="nav-link" href="https://localhost:44319/newtransaction">Make a Payment</a>
            </li>
            <li class="mx-1 nav-item">
                <a class="nav-link" href="https://localhost:44319/pasttransactions">Previous Transactions</a>
            </li>
        </ul>
    </div>
</nav>
