<!-- Users are routed here if they try to access a page when they aren't authenticated -->

@page "/forbidden"

    <div class="container" style="text-align:center">
        <h2 class="mb-2">Forbidden Page</h2>
        <p class="m-2"><strong>Note: </strong>In order to access this page you must be logged in.</p>
        <p class="m-2">You can log in <a href="https://localhost:44319/">here</a> or create a new account <a href="https://localhost:44319/register">here</a>.</p>
    </div>